@tailwind base;
@tailwind utilities;
@tailwind components;

html,body {
  width: 100%;
  height: 100%;
}

.font-geolica {
  font-family: 'Geolica', sans-serif;
  font-weight: 600;
}

::-webkit-scrollbar{
  display: hidden;
}